<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pakutoma.iijmiocouponwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="pakutoma.iijmiocouponwidget.widget.SwitchWidget"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/switch_widget_info" />
        </receiver>

        <service
            android:name="pakutoma.iijmiocouponwidget.service.SwitchCouponService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="pakutoma.iijmiocouponwidget.service.FetchRemainsService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="pakutoma.iijmiocouponwidget.service.FetchRemainsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <activity
            android:name="pakutoma.iijmiocouponwidget.activity.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="pakutoma.iijmiocouponwidget" />
            </intent-filter>
        </activity>
        <activity android:name="pakutoma.iijmiocouponwidget.activity.MainSettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pakutoma.iijmiocouponwidget.activity.WidgetSettingsActivity"
            android:label="@string/widget_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="pakutoma.iijmiocouponwidget.activity.OpenBrowserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>