<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pakutoma.iijmiocouponwidget">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".SwitchWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/switch_widget_info" />
        </receiver>
        <service android:enabled="true" android:exported="false" android:name=".SwitchWidget$UpdateTraffic">
            <intent-filter>
                <action android:name="pakutoma.iijmiocouponwidget.SwitchWidget.ACTION_CALLBACK_GET_TRAFFIC" />
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name=".SwitchWidget$SwitchCoupon">
            <intent-filter>
                <action android:name="pakutoma.iijmiocouponwidget.SwitchWidget.ACTION_SWITCH_COUPON" />
            </intent-filter>
        </service>
        <service android:enabled="true" android:name=".GetTraffic" />
    </application>

</manifest>